/* Colors */
$main-text-color: #9b9b9b;
$main-border-color: #e2e2e2;
$main-bgd-color: #ebebeb;
$main-bgd-hover: #f0f0f0;
$main-font-hover:#000;
$nav-color: #fff;
$nav-right-border: #aaa;
$brand-color: #fff;
$green: #9df11f;
$orange: #fd6e0efb;
$blue:#548dc2;
$b-blue: #00f;
$sidebar-border: #585858;
$sidebar-color: #15202e;
$sidebar-hover: #1f2f42;

/* Font sizes */
$main-font-size: 16px;
$brand-font-size: 28px;

/* Fonts */
$brand-font:'Indie Flower', cursive;
$main-font: 'Open Sans', sans-serif, Helvetica, Arial;