@import 'variables';
@import 'mixins';
@import 'normalize';
@import 'layout';


@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans:300,400,700&display=swap');


// styleguide //

.dot{
  display: inline-block;
  border: 0;
  border-radius: 50%;
  width: 10px;
  height: 10px; 
}
.dot-sm{
  width: 8px;
  height: 8px;
}
.button {
  @include button-reset;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: $main-text-color;
  padding: 0 10px;
  border-radius: 4px;
  transition: .3s;
  opacity: 1;
  &:hover{
    opacity: .8;
  }
}
.button-lg{
  width: 120px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  i{
    padding-right: 10px;
  }
}
.button-sm {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.relative {
  position: relative;
  .dot {
    position: absolute;
    top: 35%;
    left: 55%;
  }
}
.green{
  background-color: $green;
}
.orange{
  background-color:$orange;
}
.blue{
  background-color:$blue;
}


/* Components */
@import "components/nav-fixed-left";
@import "components/brand";
@import "components/sidebar";
@import "components/sidebar-link";
@import "components/nav-right";
@import "components/main";
@import "components/main-section";
@import "components/main-section-title";
@import "components/main-inner-section";
@import "components/main-section-column";
@import "components/main-section-column-list";
@import "components/form-data-picker";

@import "components/modal";

@import "sections/general";
@import "sections/links";



body {
  background-color: #050505;
  color: $main-text-color;
  font-family: $main-font;
  padding-top: 60px;
  a, p {
    text-decoration: none;
    color:$main-text-color;
  }
}
.grid-gap{
  width: 20%;
  min-width: 200px;
}
//responsive images/tables 
.responsive {       // toggled @ #main when hiding sidebar
  width: 100%;
  height: auto;
}
//
.hide-show {     // added to nav-right links in sidebar initially 
  display: none; //to hide them on desktop/show on mobile toggled
}

// mobile //
@media (max-width: 767px){
  body{
    padding-top: 50px;
  }
  .grid-gap{
    display: none;
  }
  .display{          //added to hide sidebar on mobile initially 
    display:none;    //toggled to hide/show sidebar 
  }
  .hide-show {       //also toggled to hide/show sidebar
    display: flex;
  }
  //responsive images/tables
  .responsive {
    min-width: 600px;
    height: auto;
    }
  .scroll-wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}
