
.nav-fixed-left{
  position: fixed;
  top: 0;
  left: 1%;
  z-index: 1;
  width: 20%;
  min-width: 200px;

}
// mobile //
@media (max-width: 767px){
  .nav-fixed-left{
    left: 0;
    width: 100%;
  }
}